chromadb~=0.6.3
fuzzywuzzy~=0.18.0
google-genai~=1.24.0
numpy~=1.26.4
protobuf~=5.29.4
python-dotenv~=1.0.1
requests~=2.32.3
scikit-learn~=1.5.2

# optional, speeds up fuzzywuzzy
python-Levenshtein~=0.20.9
